<p>
  <span class='post_title'><%= @post.title %></span><br>
  <span class='post_status'><%= @post.status %></span>
</p>

<p>
  <%= @post.body %>
</p>

<%= link_to 'Back', posts_path %>
<% if admin? %>| <%= link_to 'Edit', edit_post_path(@post) %><% end %>
